// colors
$primary_color: #f43;
$secondary_color: #202020;
$bg_color: rgb(18, 226, 233);
$color: #f00d91c0;
//  fonts
$primary_font: Roboto;
$secondary_fonts: sans-serif;

// width container
$width: 1220px;